:root {
  --bg-clr: #152028;
  --txt-clr: #ffffff;
  --txtanc-clr: #fefefe;
  --pnk--clr: #ff3c78;
  --md-clr: #919191;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-clr);
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins";
}
a {
  text-decoration: none;
  color: var(--txt-clr);
}
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 10%;
  width: 100vw;
}
.header nav {
  font-size: 30px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 10px;
  height: fit-content;
  color: var(--txtanc-clr);
}
.header nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -10px;
  left: 0;
  background: var(--pnk--clr);
  box-shadow: 0 0 10px var(--pnk--clr), 0 0 20px var(--pnk--clr),
    0 0 40px var(--pnk--clr), 0 0 60px var(--pnk--clr);
  border-radius: 4px;
  transition: all 1s;
}
.header nav a:hover::after {
  width: 100%;
}
.header nav a:hover {
  color: var(--txt-clr);
  transform: translateY(-10px);
}

.card {
  height: 100vh;
  width: 100vw;
  color: var(--txt-clr);
  background: rgb(21, 32, 40, 0.6);
  display: flex;
  position: sticky;
  font-size: x-large;
  top: 0;
}
.card#Home {
  display: flex;
  margin-top: 10%;
  font-size: 50px;
  margin-left: 5%;
  flex-wrap: wrap;
  width: auto;
}
.card#Home .int {
  width: auto;
  height: auto;
}
.card#Home .int .name.s {
  background: -webkit-linear-gradient(140deg, #0009f7, #f11712);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.name.s::before {
  content: "";
  position: absolute;
  left: 0;
  background: var(--bg-clr);
  height: 60px;
  width: 450px;
  transform: skew(1);
  animation: moveName 4s linear;
  animation-iteration-count: 1;
}
@keyframes moveName {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    content: none;
  }
}
.card#Home .int .hobby {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  display: inline-flex;
}
.wrapper .static-txts {
  margin: auto;
  color: var(--txt-clr);
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  font-weight: 500;
  color: #fc6d6d;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  border-left: 2px solid #fc6d6d;
  background: var(--bg-clr);
  animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
.card#Skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: rgb(21, 32, 40, 1); */
  height: 100vh;
  flex-wrap: wrap;
  backdrop-filter: blur(8px);
}
.text {
  position: absolute;
  top: 0;
  font-size: xx-large;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  /* border: 1px solid #fe0000; */
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.9);
  padding: 20px;
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  /* border: 1px solid #fe0000; */
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15),
    inset -4px -4px 6px -1px #152028, -0.5px -0.5px 0px #152028,
    0.5px 0.5px 0px rgb(0, 0, 0, 0.15), 0 12px 10px -10px #152028;
  display: flex;
  align-items: center;
  justify-content: center;
}
#number,
#number1,
#number2,
#number3,
#number4 {
  font-weight: 600;
  color: var(--txt-clr);
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 61.36;
  }
}
#number_1 {
  animation: anim1 2s linear forwards;
}
@keyframes anim1 {
  100% {
    stroke-dashoffset: 84.96;
  }
}
#number_2 {
  animation: anim2 2s linear forwards;
}
@keyframes anim2 {
  100% {
    stroke-dashoffset: 70.8;
  }
}
#number_3 {
  animation: anim3 2s linear forwards;
}
@keyframes anim3 {
  100% {
    stroke-dashoffset: 94.4;
  }
}
#number_4 {
  animation: anim4 2s linear forwards;
}
@keyframes anim4 {
  100% {
    stroke-dashoffset: 213;
  }
}
.lang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card#Project {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  backdrop-filter: blur(8px);
}
.projectIdea {
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.container {
  border-bottom: 1px solid var(--txt-clr);
  padding: 20px;
  font-size: x-large;
}
.container .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--txt-clr);
  display: inline-block;
}
.circle.complete {
  background: #0f0;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0;
}
.circle.pending {
  background: #ffe000;
  box-shadow: 0 0 10px #ffe000, 0 0 20px #ffe000;
}
.circle.incomplete {
  background: #ff0000;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}
.lenguage {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.lastBox {
  position: relative;
  overflow: hidden;
  clear: both;
}
footer {
  position: relative;
  width: 100%;
  background: #242222;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px 50px 0 0;
}
footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
}
footer .social_icon li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #000;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #212121, 0 0 20px #212121, 0 0 30px #212121;
}
footer .social_icon li a {
  display: flex;
  align-items: center;
}
footer .social_icon li div {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
footer .social_icon li a {
  font-size: 2em;
  color: var(--txt-clr);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .credit {
  font-size: 20px;
  color: #fff;
}
.heart {
  color: #ff0000;
  font-size: xx-large;
}
.navbar {
  display: none;
  color: #000;
  font-size: 30px;
  z-index: 10;
  width: 100%;
}
.navbar .new {
  position: sticky;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.Navigation {
  margin: 4px;
  border-bottom: 2px solid #000;
}
.Navigation a {
  color: #000;
}

.iconTwist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 30%;
  margin: 10px auto;

  z-index: 5;
}
.icon {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 8;
}
.icon ion-icon:hover {
  font-size: 70px;
  transition: all 1s;
}
.icon .react {
  animation: rotate 6s linear infinite;
}
.icon .docker {
  animation: moveX 6s linear infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes moveX {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  50% {
    opacity: 1;
    transform: translateX(-30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-40px);
  }
}
.icon ion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .iconTwist {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .header nav {
    display: none;
  }
  .navbar {
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .lenguage {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    text-align: center;
  }
  .hobby .wrapper {
    font-size: 20px;
  }
}

@media (max-height: 550px) {
  .project {
    display: none;
  }
}
